
.logo {
    width: 25mm;
    height: 25mm;
    margin: 0 auto;
}
td,
th,
tr,
table {
    border-collapse: collapse;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
}

td.description,
th.description {
    width: 50mm;
    max-width: 50mm;
}

td.quantity,
th.quantity {
    width: 10mm;
    max-width: 10mm;
    word-break: break-all;
}

td.price,
th.price {
    width: 20mm;
    max-width: 20mm;
    word-break: break-all;
}

.centered {
    text-align: center;
    align-content: center;
}
